
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    scrollbar-width: thin;
    scrollbar-color: #8e8e8e #fff;
    scroll-behavior: smooth
}

body{

    font-family: Poppins;
    color: #2d2e32;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #2d2e32;
    font-weight: 600;
    font-size: 1.063rem;
    transition: all .23s;
}
a:hover{
    color:#2196da;
}

li{
    list-style: none;
}