
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


header {
    background-color: #ffff;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    height: auto;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    position: fixed;
}

nav {
    padding: fixed;
    padding: 25px 64px 20px 50px;
    display: flex;
    justify-content: space-between;
    

}

nav ul {
    gap: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    padding-top: 5px;
}

.logo a{
    text-transform: uppercase;
    cursor: pointer;
    font-family: Poppins;
    font-weight: 700;
    font-size: 1.34rem;
}

.logo a:hover {
    color: #2d2e32;
}



li a {
    text-transform: uppercase;
    color: #2d2e32;
    font-weight: 600;
    font-size: 1.063rem;
    transition: all .23s;
}

li a:hover{
    color:#2196da;
}

.hero {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
}

.main__container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.main__content {
    align-items: center;
    display: flex;
    gap: 10rem;
    height: 57rem;
    justify-content: center;
    position: relative;
}

.main__hero {
    align-items: center;
    display: flex;
    gap: 5rem;
    justify-content: center;
    position: relative;
}
.main__div-text{

    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    position: relative;
}

.main__div-text h1 {
    counter-reset: #2d2e32;
    font-size: 3.4rem;
    line-height: 0.8;
}

.main__img-waving {
    height: 2.6rem;
    position: absolute;
    width: 2.6rem;
    top: 43px;
    right: 180px;
}

.main__div-text p{
    color: #555;
    font-family: mulish, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6;
}

.main__div-text span {
    color: pointer;
    display: flex;
    gap: 1.3rem;
    margin: 1rem 0;
}

.main__btn-cv{
    font-size: 0.7rem;
    color: #2d2e32;
    padding: 10px 18px;
    border-radius: 4.9px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #2d2e32;
    transition: all .2s ease-in-out
}

.main__btn-cv:hover{
    background-color: #2d2d2d;
    border-radius: 9.9px;
    color: #fff ;

}

.main__img-my {
    -webkit-animation: morph 7s ease-in-out infinite;
    animation: morph 7s ease-in-out infinite;
    background-image: url(assets/main/my.jpeg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 22rem;
    width: 22rem;
    position: relative;
    transition: all 1s ease-in-out;
}

@keyframes morph{
    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

.main__skills {
    align-items: center;
    bottom: 23%;
    color:#555;
    display: flex;
    font-size: 1.3rem;
    left: 0;
    position: absolute;
    gap: 1.5rem;
}

.main__skills p { 
    cursor: default;
}

.main__skills ul{
    display: flex;
    flex-wrap: wrap;
    
}

.main__skills ul li{
    cursor: default;
}

.main__skills ul li img{
    position: relative;
    bottom: -0px;

    height: 50px;
    transition: all .3s ease;
    width: 50px;
    z-index: 100;
}

.main__skills ul li img:hover{
    transform: translateY(-10px);
}

.div-scroll-down{
    position: fixed;
    z-index: 100;
    top: 93%;
    left: 50%;
    transition: 1.20s;
}
.div-scroll-down.end{
    opacity: 0;
    
}
.mouse {
    width: 25px;
    height: 50px;
    border: 2px solid #2d2e32;
    border-radius: 20px;
    display: flex;
}
.mouse-wheel{
    display: block;
    width: 10px;
    height: 10px;
    background-color: #2d2e32;
    border-radius: 50%;
    margin: auto;
    animation: move-whell 1s linear infinite;
}

@keyframes move-whell{
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }100%{
        opacity: 1;
        transform: translateY(1rem);
    }
}

.about{
    background-color: #fff;
    padding: 15rem 0;
}

.about__container{
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.about__content{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.about__img{
    position: relative;
}

.about__img img{
    border-radius: 1.7rem;
    height: 35rem;
    width: 41rem;
}

.about__text{
    padding-right: 1.5rem ;
}

.about__text h3{
    color: #2196da;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0rem;
    text-transform: uppercase;
}

.about__div-text{
    margin-bottom: 2rem;
}

.about__text h4{
    color: #2d2e32;
    font-family: Poppins, sans-serif;
    font-size: 2.1rem;
    line-height: 1.4;
}


.about__text p{
    color: #555;
    font-family: Mulish, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
}

.project{
    background-color: #f9f9f9;
    height: auto;
    width: 100%;
}

.project__container{
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
}
.project__tittle{
    color:#2d2e32;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
}

.card__containe{
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    justify-content: center;
    inline-size: 90%;
    flex-wrap: wrap;
}

.card__article{
    position: relative;
    overflow: hidden;

}

.card__img{
    width: 420px;
    height: 250px;
    border-radius: 1.5rem;
}

.project__card{
    width: 280px;
    background-color: #fff;
    padding: 1.5rem 2rem;
    box-shadow:  0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 1;
    transition: opacity 1s 1s;

}

.card__description{
    font-family: Mulish;
    display: block;
    font-size: 1rem;

}

.card__tittle{
    font-size: 1.2rem;
    font-weight: 600;
    color: #2d2e32;
    margin-bottom: .75rem;
}

.links__project{

    display: flex;
    flex-direction: row;
    justify-content: center;
    
    gap: 2.5rem;
}

.card__button{
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.novacor{
    color: #2196da;
}

@keyframes show-card{
    50%{
        transform: translateY(-10rem);
    }100%{
        transform: translateY(-7rem);
    }
}

.card__article:hover .project__card{
    animation: show-card 1s forwards;
    opacity: 1;
    transition: opacity 1s;
}

@keyframes remove-overflow{
    to{
        overflow: initial;
    }
}

.card__article:hover{
    animation: remove-overflow 2s forwards;
}

@keyframes remove-card{
    0%{
        transform: translateY(-7rem);
    }50%{
        transform: translateY(-10rem);
    }100%{
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow{
    0%{
        overflow: inherit;
        pointer-events: none;
    }50%{
        overflow: hidden;
    }
}
.card__article:not(:hover){
    animation: show-overflow 1s forwards;
}

.card__article:not(:hover) .project__card{
    animation: remove-card 1s forwards;
    
}

.contact{
    background-color: #FFF;
    padding: 11rem 0;
}

.container__contact{
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.content__contact{
    display: flex;
    flex-direction: column;
}

.contact__title p{
    color: #2196da;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.contact__title {
    color: #2d2e32;
    font-size: 1rem;
}

.contact__icon{
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    margin-top: 6rem;
}

.contact__icon-box{
    align-items: center;
    display: flex;
    gap: 1.5rem;
}

.contact__icon-box span{
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #2196da;
    display: flex;
    height: 3.3rem;
    justify-content: center;
    width: 3.3rem;
}

footer{
    width: 100%;
    padding: 10px;
    background: #222;
    border-top: 1px solid rgb(15, 15, 15);
    box-sizing: border-box;
    backdrop-filter: blur(200px);
    color: #ffffff;
}

.footer__container{
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.footer__container-2{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    
}

footer h3{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}   

.footer__icons{
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.footer__icons a{
    color: #fff;
    font-size: 1rem;
    transition: all 1s;
}

.footer__icons a:hover{
    color: #2196da;
}


@media (max-width: 900px) {

    nav{
        display: flex;
        justify-content: center ;
    }

    .div__ul{
        position: absolute;
        left: 200%;
        
    }

    .hero{
        width: 100%;
        text-align: center;
    }
    .main__hero{
        display: flex;
        flex-direction: column-reverse;
    }

    .main__img-my{
        width: 15rem;
        height: 15rem;
    }

    .main__hero{
        gap: 1.5rem;
    }

    .main__div-text h1{
        font-size: 1.80rem;
    }

    .main__img-waving{
        left: 83%;
        top: 8.7%;
        width: 1.5rem;
        height: 1.5rem;
    }

    .main__div-text p {
        font-size: 0.97rem;
    }

    .main__skills{
        left: 0;
        width: 100%;
        bottom: -10%;
    }

    .main__div-text span{
        width: 100%;
        justify-content: center;
    }

    .div-scroll-down{
       z-index: -100;
    }

    .main__skills{
        padding: relative;
        left: 0;
        top: 80%;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .main__skills p{
        border-bottom: 2px solid rgba(45, 46, 50, .5);
        border-right: none;
        margin-bottom: 1.4rem;
        margin-right: 0;
        padding-bottom: 1rem;
        padding-right: 0;
    }
    
    .main__p-hidden{
        position: absolute;
        z-index: -100;
    }

    .main__content{

        gap: 0rem;
    }

    .about{
        padding: 5rem 0;
        text-align: center;
    }

    .about__text{
        padding: 0;
    }

    .about__content{
        display: flex;
        flex-direction: column;
    }

    .about__img img {
        align-content: center;
        width: 250px;
        height: 150px;
    }
    
    .about__div-text {
        align-content: center;
    }

    .about__text h4 {
        font-size: 1rem;
        width: 100%; 
    }

    .about__text p {
        font-size: 1rem;
    }

    .project__container {
        align-items: center;

        display: flex;
        flex-direction: column;
    }

    .project__tittle{
        font-size: 1rem;
    }

    .card__img{
        width: 250px;
        height: 150px;
    }

    .project__card{
        width: 220px;
    }

    .card__description{
        font-size: 0.9rem;
    }

    .card__tittle{
        font-size: 0.8rem;
    }

    .card__button{
        font-size: 0.8rem;
    }

    .contact__title{
        font-size: 0.8rem;
    }

    .contact{
        padding: 5rem 0;
    }

    .contact__icon{
        gap: 4rem;
        margin-top: 3rem;
    }

    .contact__icon a, p{
        font-size: 0.8rem;
    }

    footer {
        width: 100%;
    }

    .footer__container-2 {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .footer__container-2 h3{
        font-size: 0.68rem;
        width: 100%;
        margin-bottom: 0.5rem;
    }
}